.game-container{
    width: 48%;
    height: 100%;
    background-color: rgb(161, 136, 127);
}

.game{
    background-color: rgb(211, 184, 174);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:  center;
    align-items: center;

}

.memory-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.counter-container{
    margin: 2%;
}

@import "~bootstrap/scss/bootstrap";
.card{
    background-color: rgb(114, 91, 83);
    display: inline-block;
    margin: 1%;
    height: 21.8%;
    width: 22.8%;
}




//aqui se le podria agregar algo al hoover, pero me causa errores