.game-container{
    width: 80%;
    height: 90%;
    background-color: white;
}

.game{
    background-color: aqua;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content:  center;
    align-items: center;

}

.card{
    display: inline-block;
    margin: 1%;
    height: 22%;
    width: 18%;
}
@import "~bootstrap/scss/bootstrap";

//aqui se le podria agregar algo al hoover, pero me causa errores